<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao Blog de tecnologias!</h1>
  <p class="lead">Faça parte da comunidade, e fique sempre antenado!</p>
  <hr class="my-4">
  <p>Aqui você pode ficar por dentro das novidades na area da tecnologia</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie um conta</a>
</div>

<hr>

<h2>Postagens Recentes</h2>
{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">

    <hr>
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagens/{{slug}}"><button class="btn btn-info">Saiba mais</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small>
    <br>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
<h5>Nenhuma postagem</h5>

{{/each}}